@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container">
    @*Rendering navbar page*@
    @RenderPage("~/Views/Shared/UserShared/Navbar.cshtml")

    @RenderBody()

    @*Rendering footer page*@
    @RenderPage("~/Views/Shared/UserShared/Footer.cshtml")


    @section scripts
    {
        @RenderSection("userscripts", required: false)
    }
</div>
