@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="wrapper">
    <!-- Navbar -->
    @RenderPage("~/Views/Shared/AdminShared/Navbar.cshtml")
    

    <!-- Main Sidebar Container -->
    @RenderPage("~/Views/Shared/AdminShared/MainSidebar.cshtml")

    <!--Dynamic body -->
    @RenderBody()

    <!--Footer-->
    @RenderPage("~/Views/Shared/AdminShared/Footer.cshtml")

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>

